<p>&lt;insert fail-whale&gt;</p>
<p>%FEEDBACK%</p>
<p>We are terribly sorry. The webmaster has been notified of the failure, and will contact you shortly. If you do not hear from us, please contact <a href="mailto:%WEBMASTEREMAIL%">the webmaster</a>.</p>
