<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <meta http-equiv="Cache-Control" content="no-cache" /> -->
	<link rel="stylesheet" href="templates/laserraiser/default.css" title="Normal" />
	<title>RevSpace Lasercutter Fundraiser - %TITLE%</title>
	<script language="Javascript">
		  var pos_min = -987, pos_max = -490;
                  var fund_goal = %GOAL%;
                  var fund_pledged = %PLEDGED%;
                  var fund_difference = %DIFFERENCE%;
	</script>

</head>
<body>
	<div class="column header">
		<div class="spacedescr">Revelation Space<br />Hackerspace<br />The Hague</div>
		<img class="logo" src="templates/laserraiser/revlogo.png" alt="Revspace Logo" />
		<ul class="navigation">
			<li><a href="https://revspace.nl/">Blog</a></li>
			<li><a href="https://revspace.nl/">Wiki</a></li>

			<li><a href="https://twitter.com/revspacenl">Twitter</a></li>
			<li><a href="https://identi.ca/revspace">Identica</a></li>
			<li><a href="https://revspace.nl/">Contact</a></li>
		</ul>
	</div>
	<div class="column content">
		<h1>RevSpace Lasercutter Fundraiser</h1>

		<div class="progressbar"><div id="laser_progress" class="progress" style="background-position: -800px"></div></div>

%BODY%

	</div>
	<div class="column footer">

	</div>

</body>
</html>
