                        <script type="text/javascript">
                        /*<![CDATA[*/
                                $(document).ready(function() {
					// hide pledge form when js is enabled, make it
					// appear when clicking 'Pledge now!'
                                  if($.getUrlVar('h')!='0') {
                                    $('#pledgeform').hide();
                                  }
                                  $('#slider_submit').click(function() {
                                    $('#pledgeopen').hide('slow');
                                    $('#pledgeform').show('slow');
                                  });

					// hide terms when js is enabled, show link
					// that unhides terms
				  $('#terms_shown').hide();
				  $('#terms_hidden').show();
				  $('#close_terms_js').show();

				  $('#open_terms').click(function() {
				    $('#terms_hidden').hide('slow');
				    $('#terms_shown').show('slow');
				    return false;
				  });
				  $('#close_terms').click(function() {
				    $('#terms_shown').hide('slow');
				    $('#terms_hidden').show('slow');
				    return false;
				  });
                                });

$.extend({
  getUrlVars: function(){
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
      hash = hashes[i].split('=');
      vars.push(hash[0]);
      vars[hash[0]] = hash[1];
    }
    return vars;
  },
  getUrlVar: function(name){
    return $.getUrlVars()[name];
  }
});
                        /* ]]> */
                        </script>
                        <div id="pledge_slider" class="slider">
                                <div id="pledge_slider_handle" class="handle">drag me</div>
                        </div>
                        <div id="pledgeopen">
                        <button type="submit" name="step" value="2" id="slider_submit">Pledge Now!</button>
                        </div>
<div id="pledgeform">
<form method="post" action="%ACTION%">
<p>
%FEEDBACK%
Name:<br/>
<input type="text" name="name" value="%NAME%"/><br/>
Street address 1:<br/>
<input type="text" name="street1" value="%STREET1%"/><br/>
Street address 2:<br/>
<input type="text" name="street2" value="%STREET2%"/><br/>
Zipcode/Postal code and city:<br/>
<input type="text" name="zip" value="%ZIP%"/><input type="text" name="city" value="%CITY%"/><br/>
Country:<br/>
<input type="text" name="country" value="%COUNTRY%"/><br/>
Email:<br/>
<input type="text" name="email" value="%EMAIL%"/><br/>
Amount pledged:<br/>
&euro;<input type="text" name="amount" id="pledge_amount_input" value="%AMOUNT%"/><br/>
<div id="terms_hidden" style="display: none;">
    <p>Please read through the <a href="#" id="open_terms">terms</a> binding your pledge. (prolly insert summary here)</p>
</div>
<div id="terms_shown">
    <h1>The legalese part: the terms</h1>

    <p id="close_terms_js" style="display: none;"><a href="#" id="close_terms">(close)</a></p>

    <p align="justify">By making this pledge, you agree to the following:</p><p align="justify" style="margin-right: 3em;"><ul><li>You understand that your pledge creates a legal obligation for you, contingent on a sufficient number of other pledges, to pay Stichting Revelation Space (hereafter: RevSpace) the amount of money you have pledged.</li>
<li>Revspace on its part binds itself to using the money you pay for the purpose of acquiring a laser cutter, or, if the total funds received exceed the value need for such an acquisition, to use the excess funds to acquire a vinyl cutter or similar equipment</li>
<li>Revspace will, in addition to any goods you may be entitled to, give you access to any equipment acquired as a result of the funds collected. Such access is however limited to the amount of money paid by you divided by the hourly rate RevSpace will charge for said equipment. Furthermore, such access will be contingent upon a) a safety instruction to be received from RevSpace and b) adherence by you to the then prevailing rules of conducts at the premises of RevSpace.</li>
<li>You warrant that, in case you do this pledge in the name of a legal entity, are authorized to legally represent that entity.</li>
<li>You accept that the pledge is governed by the laws of the Netherlands and that the competent court is the district court of The Hague.</li></ul></p>

</div>
<input type="submit" name="pledge" value="Pledge!"/>
</p>
</form>
</div>
