                        <script type="text/javascript">
                        /*<![CDATA[*/
                                $(document).ready(function() {
                                  if($.getUrlVar('h')!='0') {
                                    $('#pledgeform').hide();
                                  }
                                  $('#slider_submit').click(function() {
                                    $('#pledgeopen').hide('slow');
                                    $('#pledgeform').show('slow');
                                  });
                                  $('#tldr').click(function() {
                                    $('#longtext').hide('slow');
                                    $('#shorttext').show('slow');
                                  });
                                  $('#longer').click(function() {
                                    $('#longtext').show('slow');
                                    $('#shorttext').hide('slow');
                                  });
                                });

$.extend({
  getUrlVars: function(){
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
      hash = hashes[i].split('=');
      vars.push(hash[0]);
      vars[hash[0]] = hash[1];
    }
    return vars;
  },
  getUrlVar: function(name){
    return $.getUrlVars()[name];
  }
});
                        /* ]]> */
                        </script>
                        <div id="pledge_slider" class="slider">
                                <div id="pledge_slider_handle" class="handle">drag me</div>
                        </div>
                        <div id="pledgeopen">
                        <button type="submit" name="step" value="2" id="slider_submit">Pledge Now!</button>
                        </div>
<div id="pledgeform">
<form method="post" action="%ACTION%">
<p>
%FEEDBACK%
Name:<br/>
<input type="text" name="name" value="%NAME%"/><br/>
Street address 1:<br/>
<input type="text" name="street1" value="%STREET1%"/><br/>
Street address 2:<br/>
<input type="text" name="street2" value="%STREET2%"/><br/>
Zipcode and city:<br/>
<input type="text" name="zip" value="%ZIP%"/><input type="text" name="city" value="%CITY%"/><br/>
Country:<br/>
<input type="text" name="country" value="%COUNTRY%"/><br/>
Email:<br/>
<input type="text" name="email" value="%EMAIL%"/><br/>
Amount pledged:<br/>
&euro;<input type="text" name="amount" id="pledge_amount_input" value="%AMOUNT%"/><br/>
<input type="submit" name="pledge" value="Pledge!"/>
</p>
</form>
</div>
