<p>Thank you! Your pledge has been confirmed. We will contact you when the deadline is reached, to tell you if we made the goal and if so how to put the money where your mouth is!</p>
<p>%FEEDBACK%</p>
