<p>Your pledge:</p>
<p>
Name: %NAME%<br/>
Street1: %STREET1%<br/>
Street2: %STREET2%<br/>
Zip and city: %ZIP% %CITY%<br/>
Country: %COUNTRY%<br/>
Email: %EMAIL%<br/>
Amount: %AMOUNT%<br/>
If this is correct, please <a href="http://localhost/pledge/?p=confirm&hash=%HASH%&confirm=1">click to confirm</a>.<br/>
If this is NOT correct, please <a href="http://localhost/pledge/?p=confirm&hash=%HASH%&confirm=0">click to cancel</a> this pledge.<br/>
</p>
