
ERROR: %ERROR%

The pledge with hash %HASH% could not be updated on the confirm page due to an
error.

%URLBASE%?p=confirm&hash=%HASH%

This is concerning a pledge of EUR %AMOUNT%, made by %EMAIL%.

Your assistance is required.

