<form method="post" action="%ACTION%">
<p>
%FEEDBACK%
Name:<br/>
<input type="text" name="name" value="%NAME%"/><br/>
Street address 1:<br/>
<input type="text" name="street1" value="%STREET1%"/><br/>
Street address 2:<br/>
<input type="text" name="street2" value="%STREET2%"/><br/>
Zipcode and city:<br/>
<input type="text" name="zip" value="%ZIP%"/><input type="text" name="city" value="%CITY%"/><br/>
Country:<br/>
<input type="text" name="country" value="%COUNTRY%"/><br/>
Email:<br/>
<input type="text" name="email" value="%EMAIL%"/><br/>
Amount pledged:<br/>
&euro;<input type="text" name="amount" value="%AMOUNT%"/><br/>
<input type="submit" name="pledge" value="Pledge!"/>
</p>
</form>
