<h1>Thanks!</h1>
<p>An email has been sent asking you for confirmation of your pledge. Note, your pledge is not counted towards the goal unless you visit the link in the confirmation email. If you did not receive the confirmation email, please check your spam folder (if you have one). If the mail is not coming in, please contact us at pledge@example.com.</p>
