
Hi!

This is to let you know that you (or someone using your email address) has
pledged an amount towards getting RevSpace a lasercutter.

Please visit this url to confirm your pledge:

http://localhost/pledge/?p=confirm&hash=%HASH%

This url is strictly personal.

Thanks!

